/* ********************************/
/* ***** Standard colours ********/
/* dark blue:   rgb(78, 141, 201)  */
/* dark purple: rgb(168, 93, 143)  */
/* light purple: rgb(222, 222, 222)*/
/* light yellow: rgb(249, 246, 224) */
/* *********************************/

body{
    padding-top: 104px;
}

.navbar{
    background-color: #252771;
    color: #fff;
}

body .navbar ul.navbar-nav .navbar-icons a{
    color: #fff;
    padding-left: 15px;
}

body .navbar ul.navbar-nav .navbar-icons a:hover{
    color: #88dcdf;
}

.dvBiblio,
.dvProfiles,
.dvMainMapCont{
    height: 800px;
    width: 100%;
}

.dvMainMap{
    height: 100%;
    width: 100%;
    z-index: 100;
}

.panels-wrap{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: -470px;
    min-height: 470px;
}

.closed-panels-wrap{
    display: flex;
}

.content-panel.closed-panel{
    flex-basis: 25px;
    background-color: rgb(168, 93, 143);
    height: 500px;
    overflow: hidden;
}

.content-panel.expanded-panel {
    max-width: none;
}

.content-panel{
    height: 450px;
    display: flex;
    max-height: 450px;
    margin-left: 10px;
    max-width: 33.3%;
    z-index: 999;
    position: relative;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 2px 2px 3px 0px #e2e2e2;
}

.content-panel.open-panel{
    flex: 1;
}

.content-panel .grid-wrap{
    border-top: 0;
    flex: 1;
    height: 100%;
    overflow-y: auto;
}

.panel-chrome.vertical{
    max-width: 25px;
    height: 100%;
    max-height: 100%;
    padding: 10px 2px;
}

.content-panel.initial-closed-panel{
    display: none;
}

.main-map-col{
    background-color: #fff;
    padding: 0;
}

.panel-chrome{
    background-color: rgb(168, 93, 143);
    padding: 2px 10px;
    max-height: 25px;
}

.panel-chrome span{
    display: inline-flex;
}

.panel-chrome .fa-stack{
    font-size: 11px;
}

.panel-chrome .fa{
    color: #fff;
    font-size: 21px;
    margin-left: 5px;
}

.panel-chrome .fa-circle{
    color: #fff;
}

.panel-chrome i.material-icons{
    color: #fff;
    font-size: 21px;
}

#dvExplanations,
#dvOpenPanels{
    display: none;
}

.container-fluid.main-map-container{
    padding: 0;
}


.content-panel[data-filled = "empty"]{
    display: none;
}

.chrome-button{
    cursor: pointer;
}

.open-panel .min-2{
    display: none;
}

.closed-panel .min-1{
    display: none;
}

.chrome-title{
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
}

.vertical .chrome-title{
    -ms-writing-mode: vertical-lr;
    writing-mode: tb-lr;
    writing-mode: vertical-lr;
    margin-top: 10px;
    padding-left: 1px;
}

.navbar-brand img{
    height: 52px;
}

.content-panel img{
    max-width: 100%;
}


/* Search Overlay */
.search-container{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.89);
    z-index: 99999;
    text-align: center;
    display: none;
}

.search-container .container{
    display: table;
    height: 100%;
    position: relative;
}

.searchform{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    text-align: left;
}

.header_search{
    font-weight: 400;
    color: #6c757d;
    font-size: 85px;
    line-height: 105px;
    background: 0 0;
    border: 0;
    float: left;
    width: calc(100% - 100px);
}

.searchsubmit{
    background: 0 0;
    border: none;
    color: #6c757d;
    font-size: 80px;
    margin-top: 17px;
    margin-left: -5px;
    width: auto;
    float: left;
    text-align: left;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-backface-visibility: hidden;
}

.search-cancel-icon{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.search-cancel-icon i{
    color: #6c757d;
    font-size: 55px;
    background: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-backface-visibility: hidden;
}

.search-cancel-icon:hover > i,
.searchsubmit:hover{
    color: #88dbdf;
}

.search-button{
    cursor: pointer;
}

input.header_search:focus{
    outline: 0;
}

.h2Profile{
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
    font-size: 1.75rem;
}

.h2Profile:after{
    content: '';
    display: block;
    width: 40px;
    border-top: 3px solid #88dbdf;
    margin-top: 10px;
    margin-bottom: 15px;
}

.pNorm{
    margin-bottom: 10px;
}

.h3Profile{
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 0.2rem;
    margin-top: 1rem;
    border-bottom: 1px dotted rgb(168, 93, 143);
}

.h3ProfileTypology{
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 0.2rem;
    margin-top: 1rem;
    border-bottom: none;
}


.dvBiblBlock{
    margin-left: 20px;
    display: block !important;
    padding-bottom: 10px;
}

.how-to-panel{
    float: left;
    border-radius: 3px;
    box-shadow: 2px 2px 3px 0px #e2e2e2;
    padding: 0 15px 20px 20px;
    width: 100%;
}

.panel-chrome.horizontal{
    width: 100%;
}

.panel-wrap{
    float: left;
    background: #fff;
    width: 100%;
    padding: 10px 5px 20px 5px;
}

.info-block-wrap{
    background: #ececec;
    padding: 20px;
    border-radius: 6px;
    display: flex;
    margin-top: 20px;
    height: 120px;
}

@media (min-width : 1450px){
    .info-block{
        flex: 0 0 16.6666666667%;
        max-width: 16.6666666667%;
    }
}


.info-block-wrap i{
    font-size: 60px;
    color: #335175;
    margin-right: 10px;
    align-items: center;
}

h2.how-to-heading{
    border-bottom: 1px solid #ececec;
    margin-bottom: 15px;
    padding-bottom: 15px;
    margin-top: 10px;
}

.horizontal .chrome-title{
    vertical-align: top;
}


.sub-nav{
    background-color: rgb(168, 93, 143);
    color: #fff;
    padding: 5px 20px;
    box-shadow: 1px 1px 1px #cacaca;
    margin-bottom: 1px;
    position: fixed;
    top: 70px;
    right: 0;
    left: 0;
    z-index: 1000;
}

.sub-nav span{
    margin-right: 30px;
    font-size: 14px;
    cursor: pointer;
    transition: color 0.1s ease-in;
}

@media (max-width : 1700px){
    .sub-nav span{
        margin-right: 15px;
        font-size: 13px;
    }
}

.sub-nav span:hover{
    color: #252771;
}

.not-implented{
    color: #d6d6d6;
}

.panels-wrap.panels-wrap-expanded{
    min-height: 800px;
    margin-top: -800px;
}

.panels-wrap.panels-wrap-expanded .content-panel{
    height: 780px;
    max-height: 780px;
}

h3::after{
    content: '';
    display: block;
    width: 100%;
    border-top: 4px solid rgb(168, 93, 143);
    margin-top: 4px;
    margin-bottom: 4px;
}

h4::after{
    content: '';
    display: block;
    width: 100%;
    border-top: 1px solid rgb(168, 93, 143);
    margin-top: 4px;
    margin-bottom: 4px;
}

/* ********************************* */
/* ***DICT QUERY ******************* */
/* ********************************* */
.tbInputFrame{
    border: 0px solid black;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    padding-bottom: 1px;
    height: 20px;
    background: white;
}

.tdInputFrameLeft{
    border: 0px solid white;
    border-bottom: 1px solid grey;
    border-left: 1px solid grey;
    border-top: 1px solid grey;
}

.tdInputFrameRight{
    border: 0px solid white;
    border-bottom: 1px solid grey;
    border-right: 1px solid grey;
    border-top: 1px solid grey;
}

.tdInputFrameMiddle{
    border: 0px solid white;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    position: relative;
}

.tdFieldSelectorLeft{
    border-left: 1px solid rgb(236, 217, 175);
    border-top: 1px solid rgb(236, 217, 175);
    border-bottom: 1px solid rgb(236, 217, 175);
    background: rgb(236, 217, 175);
}

.tdFieldSelectorRight{
    border: 1px solid grey;
    background: white;
}

.dvCharTable{
    border: 1px solid grey;
    margin-top: -15px;
    left: 65px;
    padding: 2px;
    padding-bottom: 6px;
}

.dict-search-wrapper .tbInputFrame{
    background: transparent;
}

.dvInpText{
    padding-left: 20px;
    padding-top: 5px;
}

.dvWordSelector{
    left: 165px;
    width: 200px;
}

.dvLetter{
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 3px;
    background: rgb(168, 93, 143);
    color: #fff;
    text-align: center;
    box-shadow: 1px 1px 1px #e8e8e8;
    margin: 3px 0px 0 0;
    font-size: 16px;
    display: inline-block;
}

/* *************************************** */
/* *** Dict Query Results **************** */
/* *************************************** */
/* 
.aInternal {
  text-decoration: none;
  color: inherit;
}
*/

.dvDef{
    padding-left: 5px;
    font-style: italic;
    margin-left: 0pt;
    font-size: 12pt;
}

.dvExamples{
    border: 1px solid black;
    background: rgb(233, 224, 230);
    font-size: smaller;
    padding-left: 5px;
    padding-right: 5px;
    margin: 3px;
}

.dvLangSep{
    border-top: 0.5px dotted rgb(85, 99, 201);
    border-bottom: 0.5px dotted rgb(85, 99, 201);
    /* margin-right: 20px; */
    /* padding-left: 5px; */
    background: white;
}

.dvMWUExamples{
    border: 1px solid black;
    background: rgb(234, 202, 255);
}

.dvRoundLemmaBox{
    text-align: right;
    direction: rtl;
    padding-top: 3px;
    padding-right: 5px;
    position: relative;
    top: 3px;
    left: -15px;
    width: 100px;
    border-radius: 5px;
    background: rgb(222, 222, 222);
    font-weight: bold;
    font-size: larger;
    color: rgb(168, 93, 143);
    border: 1px solid rgb(168, 93, 143);
    vertical-align: baseline;
}

.dvRoundLemmaBox_ltr{
    text-align: left;
    direction: ltr;
    padding-top: 3px;
    padding-left: 5px;
    padding-bottom: 2px;
    position: relative;
    top: 3px;
    left: -15px;
    max-width: 420px;
    border-radius: 5px;
    background: rgb(222, 222, 222);
    font-weight: bold;
    font-size: larger;
    color: rgb(168, 93, 143);
    border: 1px solid rgb(168, 93, 143);
    vertical-align: baseline;
}

.dvStats{
    margin-bottom: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    border: 1px solid rgb(168, 93, 143);
    background: rgb(168, 93, 143);
    color: white;
    font-weight: bold;
}

.dvUsg{
    font-style: italic;
    margin-left: 5pt;
    font-size: 10pt;
}

.spBibl{
    font-style: italic;
    font-size: small;
    text-align: left;
    color: rgb(93, 75, 24);

}

.spEditors{
    font-style: italic;
    color: rgb(93, 75, 24);
    font-size: small;
}

.spEtym{
    font-style: italic;
    color: grey;
    font-size: small;
}

.spGramGrp{
    color: rgb(75, 131, 97);
    font-style: italic;
    font-size: smaller;
    vertical-align: baseline;
}

.spRoot{
    font-size: smaller;
    color: rgb(155, 148, 23);
    vertical-align: baseline;
}

.spTrans{
    border: 0px;
    font-style: italic;
    color: rgb(123, 120, 255);
}

.spTransDe,
.opWordList_de{
    border: 0px;
    font-style: italic;
    color: rgb(144, 113, 183);
}

.spTransEn,
.opWordList_en{
    border: 0px;
    font-style: italic;
    color: rgb(123, 120, 255);
}

.spTransFr,
.opWordList_fr{
    border: 0px;
    font-style: italic;
    color: rgb(173, 82, 117);
}

.opWordList_ar{
    border: 0px;
    font-style: italic;
    color: rgb(144, 113, 183);
}

.tbEntry{
    margin-bottom: 10px;
    margin-right: 10px;
    width: 90%;
    max-width: 90%;
}

.tdMain{
    background: rgb(254, 255, 244);
    min-width: 300px;
    word-wrap: break-word;
}

.dvDictResults{
    border: 1px solid black;
    color: rgb(93, 75, 24);
    /* background: rgb(249, 246, 224); */
    background: white;
    margin-top: 20px;
}

.tdNoBorderRTL{
    border: 0px solid black;
    padding-left: 0px;
    vertical-align: top;
    direction: rtl;
    word-wrap: break-word;
}

.tdNoBorder{
    border: 0px solid black;
    padding-left: 0px;
    vertical-align: top;
    word-wrap: break-word;
}

.tdSense{
    background: white;
    word-wrap: break-word;
}


.tdExpl{
    border: 1px solid black;
    background: rgb(249, 246, 224);
}

/*
.inpNavButton {
  background: rgb(200, 200, 200);
  color: red;
}
 
.inpUser {
  position: absolute;
  left: 30px;
  top: 60px;
  visibility: visible;
}
 */

.spSentence{
    display: block;
}

.sub-nav .container-fluid{
    display: flex;
}

.sub-nav-actions{
    margin-left: auto;
}

.sub-nav span.active{
    color: #252771;
}

.dict-search-wrapper{
    position: sticky;
    top: -20px;
    background: rgb(222, 222, 222);
    z-index: 9;
    display: flex;
    flex-direction: column;
    margin-left: -20px;
    margin-right: -20px;
    margin-top: -20px;
    padding: 20px;
    /* box-shadow: 1px 1px 2px rgb(221, 157, 199); */
}


[data-toggle = "tooltip"]{
    cursor: pointer;
}

div.imgProfile{
    max-height: 250px;
    overflow: hidden;
    width: 200px;
}

.grid-wrap i.fa{
    margin-right: 6px;
    background: rgb(249, 246, 224);
}

.imgCaption{
    font-size: 12px;
    padding-bottom: 8px;
    text-align: center;
    font-style: italic;
}

.dvBibArticle .fa-book,
.dvBibBook .fa-file-text,
.dvBibBookSection .fa-file-text{
    /* display: none; */
    display: block;
}

.dvAuthor{
    display: block;
    border-top: 0.5px dotted rgb(168, 93, 143);
}

.imgPleaseWait{
    position: absolute;
    left: calc(50% - 32px);
    top: 40px;
    visibility: hidden;
}

.loading-wrapper{
    position: absolute;
    width: calc(100% - 25px);
    height: 100%;
    top: 0px;
    left: 25px;
    z-index: 9999;
    background: #b3aa817d;
    visibility: hidden;
}

.tdInputFrameMiddle,
.tdInputFrameRight{
    border: 0;
}

.tdInputFrameMiddle .form-control{
    width: calc(100% - 10px);
}

.dvFieldSelect{
    margin-right: 10px;
}

.slFieldSelect{
    width: 140px !important;
    font-size: 13px;
}

.dvWordSelector{
    position: absolute;
    top: 37px;
    left: 0px;
    display: none;
}

.dvCharTable,
.dvDictResults{
    border: 0;
}

.dict-heading{
    margin-bottom: 10px;
    font-weight: bold;
    color: rgb(168, 93, 143);
    font-weight: bold;
}

#liVicavDictQuery_Tunis,
#liVicavDictQuery_Damascus,
#liVicavDictQuery_Cairo,
#liVicavDictQuery_MSA{
    color: rgb(168, 93, 143);
    border: 2px solid rgb(168, 93, 143);
    font-weight: bold;
    background-color: transparent;
    background-image: none;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    width: 300px;
    height: 40px;
    border-radius: 0.25rem;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    cursor: pointer;
}

#liVicavDictQuery_Tunis:hover,
#liVicavDictQuery_Damascus:hover,
#liVicavDictQuery_Cairo:hover,
#liVicavDictQuery_MSA:hover{
    color: #fff;
    background-color: rgb(168, 93, 143);
    /* border-color: rgb(78, 141, 201); */
}

.dictQueryBtn{
    color: rgb(168, 93, 143);
    font-weight: bold;
    background-color: white;
    border-color: rgb(168, 93, 143);
    /* border: 2px solid rgb(168, 93, 143); */
    cursor: pointer;
}

.dictQueryBtn:hover{
    color: #fff !important;
    background-color: rgb(168, 93, 143);
    border-color: rgb(168, 93, 143);
}

.tooltip.show{
    opacity: 1;
}

.tooltip-inner{
    background-color: #efefef;
    color: #171717;
    max-width: 300px;
    opacity: 1;
    border: 1px solid #e2e2e2;
    box-shadow: 0px 0px 0.5px #636363;
    padding: 5px 10px;
    text-align: left;
}

option.opWordList_lem{
    font-style: italic;
    color: #335175;
}

option.opWordList_infl{
    color: rgb(168, 93, 143);
}

option.opWordList_root{
    font-weight: 600;
}

@media (min-width : 768px){

}
@media (min-width : 992px){

}
@media (min-width : 1200px){

}

.tbQueryExamples{
    border-collapse: collapse;
    width: 100%;
}

.tdQuery{
    border: 1px solid rgb(168, 93, 143);
    vertical-align: top;
    padding-left: 5px;
    padding-right: 5px;
    /* background: rgb(249, 246, 224); */
    background: rgb(222, 222, 222);
}

nav{
    border-left: 1px solid rgb(152, 204, 253) !important;
}

.navbar{
    border-bottom: 0px !important;
    border-left: 0px !important;
    min-height: 70px !important;
}

body .navbar ul.navbar-nav{
    border-left: 1px solid #a85d8f;
    padding: 15px 20px;
}

.dict-grid-wrap{
    /* background: rgb(249, 246, 224); */
    background: white;
}

.tdKWICMain{
    border-bottom: 0.5px dotted rgb(85, 99, 201);
    padding-left: 5px;
}

.dvImgProfile{
    float: right;
    overflow: hidden;
    width: 50%;
    padding-left: 8px;
}

.imgBiblItem{
    padding-right: 5px;
}

.spQueryText{
    font-style: italic;
    color: rgb(222, 222, 222);
}

.biblQueryBtn,
.crossDictQueryBtn{
    width: 300px;
    height: 40px;
    color: rgb(168, 93, 143);
    border: 2px solid rgb(168, 93, 143);
    font-weight: bold;
    background: white;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 0.25rem;
}

.biblQueryBtn:hover,
.crossDictQueryBtn:hover{
    color: white;
    background: rgb(168, 93, 143);
}

/* *************************************************** */
/* * Features **************************************** */
/* *************************************************** */
.tbFeatures{
    width: 90%;
    border: 1px solid rgb(89, 83, 60);
}

.tdFeaturesCom {
    background: #e7e2ca;
}

.tdFeaturesHead {
    font-size: large;
    border: 1px solid rgb(168, 93, 143);
    background: rgb(168, 93, 143);
    color: white;
}

.tdFeaturesHeadRight {
    font-size: large;
    border: 1px solid rgb(168, 93, 143);
    background: rgb(168, 93, 143);
    color: white;
    text-align: right;
    vertical-align: top;
    padding-right: 5px;
}

.tdFeaturesLeft{
    vertical-align: top;
    color: rgb(168, 93, 143);
    background: rgb(222, 222, 222);
    border: 1px solid rgb(168, 93, 143);
    width: 110px;
    padding-left: 3px;
}

.iFeaturesTrans {
    color: blue;
    font-size: small;
}

.tdFeaturesRightSource {
    border: 1px solid rgb(168, 93, 143);
    vertical-align: top;
    width: 80%;
    padding-left: 3px;
    color: #7f960a;
}

.tdFeaturesRightTarget {
    border: 1px solid rgb(168, 93, 143);
    vertical-align: top;
    width: 80%;
    padding-left: 3px;
    color: #a58103;
    font-style: italic;
    background: rgb(246, 236, 225);
}

/* *************************************************** */
/* * PROFILEs **************************************** */
/* *************************************************** */
.tbProfile{
    width: 50%;
    border: 1px solid rgb(89, 83, 60);
}

.tdHead{
    color: #fff;
    text-align: right;
    padding-right: 5px;
    width: 150px;
    word-wrap: break-word;
    vertical-align: top;
    background: rgb(168, 93, 143);
    border-bottom: 0.5px dotted rgb(221, 157, 199);
}

.tdProfileTableRight{
    background: rgb(222, 222, 222);
    border-bottom: 0.5px dotted rgb(168, 93, 143);
    padding-left: 5px;
    color: rgb(168, 93, 143);
    vertical-align: top;
}

.info-block-wrap > .aVicText{
    color: #335175 !important;
}

.aExplBar{
    color: #252771 !important;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
}

.aExplBar:hover{
    text-decoration: underline;
    cursor: pointer;
}

.aVicText{
    color: rgb(168, 93, 143) !important;
    text-decoration: none !important;
    background-color: transparent;
    cursor: pointer;
}

.aVicText:hover{
    /* color: white !important; */
    background-color: rgb(168, 93, 143);
    cursor: pointer;
    color: white !important;
}

.aTEIButton{
    border: 1px solid rgb(168, 93, 143);
    border-radius: 5px;
    padding-right: 8px;
    padding-left: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: rgb(168, 93, 143) !important;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
}

.aTEIButton:hover{
    /* color: white !important; */
    text-decoration: none;
    background-color: rgb(168, 93, 143);
    cursor: pointer;
    color: white !important;
}

a:hover{
    color: #252771;
    text-decoration: underline;
}

/*.tdTeiLink {
    color: green;
    background-color: white;
    text-align: right;
    vertical-align: top;
}
*/

/*.tdTeiLink a:hover {
    text-decoration: none;
    color: #fff;
}
*/
.spTeiLink{
    font-size: 12px;
    border: 1px solid rgb(168, 93, 143);
    border-radius: 5px;
    padding: 5px 8px;
    font-weight: 500;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.spTeiLink:hover{
    background-color: #a85c8e;
    text-decoration: none;
    color: white;
}

.tbHeader{
    /*border: 1px solid black;*/
    width: 100%;
}

.navbar li a{
    cursor: pointer;
}

#sub-nav-share{
    position: relative;
}

#sub-nav-share-confirmation{
    position: absolute;
    top: 30px;
    right: -5px;
    width: 200px;
    margin: 0;
    background: #a85c8e;
    padding: 8px 10px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 0px 2px #ccc;
    color: #fff !important;
}

.pBiblExpl{
    display: block;
}

.selQueryType{
    display: block;
    margin-top: 5px;
    margin-left: 3px;
    /* border: 1px solid black; */
}

.checkboxLabel{
    margin-right: 20px;
    padding-left: 6px;
}

.imgIllustration{
    height: 100px;
    margin: 5px;
    float: right;
}



.headDamascus{
    font-style: italic !important;
    font-weight: bold !important;
    color: rgb(168, 93, 143) !important;
    text-align: center !important;
}

.dvAudio{
    border-bottom: 1px dotted grey;
    vertical-align: top;
}

.audio{
    color: green;
    position: absolute;
    left: -500px;
}

[data-snippetid = dictFrontPage_Damascus] > .grid-wrap{
    background-image: url('../images/800px_Minaret_of_Qayt_Bey_Umayyad_Mosque_wiki.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    color: rgb(93, 41, 75);
}

[data-snippetid = dictFrontPage_Cairo] > .grid-wrap{
    background-color: rgb(226, 243, 170);
    color: rgb(63, 71, 42);
}

[data-snippetid = dictFrontPage_Tunis] > .grid-wrap{
    background-color: rgb(252, 244, 216);
}

[data-snippetid = dictFrontPage_Baghdad] > .grid-wrap{
    background-color: rgb(184, 227, 183);
}

.dropdown-item:active{
    background: rgb(168, 93, 143);
    color: white !important;

}

.dvContributor p{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: row;
    padding: 10px 5px;
}


.dvContributor p span{
    flex-basis: 460px;
}


.dvContributor p img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 5px 5px 5px 5px;
}

.tdContributor{
    vertical-align: top;
}

.spPos{
    color: red;
}
.spLemma{
    color: green;
}
.spTrans{
    color: blue;
}
.tooltip{
    border: 3px rgb(222, 222, 222);
}

.main-footer{
    background-color: #262770;
    color: #fff;
}

.main-footer a{
    color: #a85c8e;
}

footer h3::after{
    display: none;
}

.footer-sep{
    border-bottom: 1px solid #ffffff;
}

.footer-imprint-bar{
    background-color: #a85c8e;
}

.footer-imprint-bar a{
    color: #27276f;
}

img.footer-acdh-logo{
    width: 100px;
}

@media (max-width : 768px){
    .content-panel{
        max-width: 100%;
    }

    .panels-wrap{
        flex-direction: column;
    }

    .sub-nav-map-items,
    .sub-nav-actions{
        display: grid;
        width: 100%;
    }

}

.dvCharTable{
    margin-top: 0px;
    margin-bottom: 5px;
}

.newsHeader {
   color: white;
   background: rgb(168,93,143); 
   padding-left: 20px;
   padding-bottom: 5px;
}

.newsItem {
    border: 0.5px dotted rgb(168,93,143);
    background: rgb(246, 237, 243);
    margin-top: 2px;
    padding-left: 5px;
    padding-top: 2px;    
}

#cookie-overlay {
  background-color: rgba(51, 51, 51, 0.9);
  position: fixed;
  bottom: 0;
  z-index: 9999;
  width: 100%;
  color: #FFFFFF;
  padding: 15px 10px;
  text-align: center;
  display: none; }

.cookie-message {
  display: inline-block; }

.cookie-message a:hover {
  color: #88DBDF; }

.cookie-accept-btn {
  display: inline-block;
  background-color: #ffd534;
  color: #333;
  padding: 5px 30px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  margin: 0 0 0 20px; }

.cookie-accept-btn {
  display: inline-block;
  background-color: #ffd534;
  color: #333;
  padding: 5px 30px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  margin: 0 0 0 20px;
  transition: background-color ease .2s; }

.cookie-accept-btn:hover {
  background-color: #d2b33d; }

/* Compare samples window */
a.word-search {
    color: inherit;
}

.w {
    font-style: normal;
    color: inherit;
}


.w.highlight {
    padding: 0;
    color: red;
    background: 0;
}

.show-sentence {
    display: block;
    float: left;
    margin: 0 4px 0 2px;
}

form.compare-samples > fieldset.column {
    border: silver 1px solid;
    padding: 5px;
    min-width: 45%;
    float: left;
    margin-right: 10px;
}
form.compare-samples > fieldset.actions {
    text-align: center;
    clear: both;
    padding: 10px 0;
}
form.compare-samples fieldset > fieldset {
    border: none;
}

form.compare-samples .sentences-wrapper > fieldset {
    display: inline-block;
}
.tagit-autocomplete,
.ui-menu-item-wrapper {
    z-index: 99999 !important;
}

.sentences-nav {
    text-align: center;
}

.sentences-nav .prev-link {
    float: left;
}
.sentences-nav .next-link {
    float: right;
}
.sentences-nav input {
    width: 50px;
}
ul.overlapping-markers {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/** IMAGES **/

.gallery {
    clear: both;
}

.gallery-item {
    display: inline-block;
    max-width: 180px;
    max-height: 180px;
    overflow: hidden;
}

.gallery-item img.portrait {
    max-width: 100%;
    max-height: inherit;
}

.gallery-item img.landscape {
    max-width: inherit;
    max-height: 180px;
}

.pFigure {
    display: flex;
    justify-content: center;
}

.figure {
    max-width: 180px;
}

.figure.small {
    max-width: 90px;
}

.figure.full-width, .figure.full-width .gallery-item {
    max-width: inherit;
    max-height: inherit;
}

.figure.small .gallery-item {
    max-width: 90px;
    max-height: 90px;
}

* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.slider-container {
  position: relative;
}

.thumbs-wrapper {
    overflow: hidden;
}

.thumbs-wrapper .row {
    transition: transform 1s;
    margin-left: 20px;
}


/* Hide the images by default */
.slider-container .mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.slider-container .cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.slider-container .prev,
.slider-container .next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
 .slider-container .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.slider-container .prev:hover,
.slider-container .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.slider-container .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.slider-container .caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

/*.slider-container .row {
    margin-left: 0;
    margin-left: 0;
}
*/
.slider-container .row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.slider-container .column {
  float: left;
  width: 100px;
}

/* Add a transparency effect for thumnbail images */
.slider-container .demo {
  opacity: 0.6;
}

.slider-container .active,
.slider-container .demo:hover {
  opacity: 1;
}
/* Fading animation */
.slider-container .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}