body {
    padding-top: 100px;
}

.navbar {
  background-color: #335276;
  color: #fff;
}

body .navbar ul.navbar-nav .navbar-icons a {
  color: #fff;
}

.dvBiblio, .dvProfiles, .dvMainMapCont {
    height: 300px;
    width: 100%;
}

.dvMainMap {
    height: 100%;
    width: 100%;
    z-index: 100;
}

.panels-wrap {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.closed-panels-wrap {
    display: flex;
}

.content-panel.closed-panel {
    width: 25px;
    background-color: #B3AA82;
    height: 500px;
    overflow: hidden;
}


.content-panel {
    height: 450px;
    display: flex;
    max-height: 450px;
    margin-left: 10px;
}

.content-panel.open-panel {
    flex: 1;
}

.content-panel .grid-wrap {
    border-top: 0;
    flex: 1;
    height: 100%;
    overflow-y: auto;
}

.panel-chrome.vertical {
    max-width: 25px;
    height: 100%;
    max-height: initial;
    padding: 10px 2px;
}

.content-panel.initial-closed-panel {
    display: none;
}

.main-map-col {
  background-color: #fff;
  padding: 0;
}

.panel-chrome {
    background-color: #B3AA82;
    padding: 2px 10px;
    max-height: 25px;
}

.panel-chrome span {
    display: inline-flex;
}

.panel-chrome .fa-stack {
    font-size: 11px;
}

.panel-chrome .fa {
    color: #B3AA82;
}

.panel-chrome .fa-circle {
    color: #fff;
}

.panel-chrome i.material-icons {
    color: #fff;
    font-size: 21px;
}

#dvExplanations, #dvOpenPanels {
    display: none;
}

